{% for link in linklists[menu].links %}
    {% if link.links == blank %}
      <li class="nav-item active">
        <a class="nav-link" href="{{link.url}}">{{link.title}}</a>
      </li>
    {% endif %}

    {% if link.links != blank %}
      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
          {{link.title}}

          <div class="circle"></div>
        </a>
        <div class="dropdown-menu full-width w-100" aria-labelledby="navbarDropdown">

          <div class="background-image-container d-none d-lg-block">
            <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0354/3269/3819/files/snowboard-menu-bg.jpg"/>
          </div>

          <div class="container">
            <div class="row">

              <div class="dropdown-menu__backbtn d-block d-lg-none">
                <a href="#" class="nav-link secondary-back">
                  <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
                  {{link.title}}
                </a>
              </div>

              {% assign orphansExist = false %}


              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <div class="dropdown-item-container col-lg-2 mb-2 px-1">
                    <div class="inner">
                      <a class="dropdown-item" href="{{childlink.url}}">
                        {% if childlink.type == "collection_link" and childlink.object.image %}
                          <div class="menu-img d-none d-lg-block">{{ childlink.object.image  | img_url : 'small' | img_tag }}</div>
                        {% endif %}
                        <span>{{ childlink.title }}</span>

                        <svg class="caret d-flex d-lg-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
                      </a>

                      {% for sublink in childlink.links %}
                        <a class="third-level" href="{{sublink.url}}">{{sublink.title}}</a>
                      {% endfor %}

                      <div class="third-level-mobile">
                        <div class="dropdown-menu__backbtn">
                          <a href="#" class="nav-link tertiary-back">
                            <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
                            {{link.title}} / {{ childlink.title }}
                          </a>
                        </div>

                        <div class="third-level-container">

                          <a class="parentcat" href="{{childlink.url}}">
                            {{ childlink.title }}
                          </a>

                          {% for sublink in childlink.links %}
                            <a href="{{sublink.url}}">{{sublink.title}}</a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  {% assign orphansExist = true %}
                {% endif %}
              {% endfor %}
              
              {% if orphansExist == true %}
                <div class="orphan-container col">
                  {% for childlink in link.links %}
                    {% if childlink.links == blank %}
                      <a class="orphan" href="{{childlink.url}}">{{ childlink.title }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              <div class="dropdown-summary d-none d-lg-flex col-lg-4 ml-auto">
                <span class="eyebrow">Shop The Latest</span>
                <span class="heading">{{link.title}}</span>

                <div class="usps">
                  <div class="usp">
                    <div class="image-container">
                      <img width="35" height="18" loading="lazy" src="{{ settings.header_usp_1_image  | img_url  : 'master' }}" alt="{{ settings.header_usp_1_image.alt}}">
                    </div>
                    <span>{{settings.header_usp_1_title}}</span>
                  </div>
                  <div class="usp">
                    <div class="image-container">
                         <img  loading="lazy" width="18" height="18" src="{{ settings.header_usp_2_image  | img_url  : 'master' }}" alt="{{ settings.header_usp_2_image.alt}}">

                    </div>
                    <span>{{settings.header_usp_2_title}}</span>
                  </div>
                  <div class="usp">
                    <div class="image-container">
      <img loading="lazy" width="18" height="18" src="{{ settings.header_usp_3_image  | img_url  : 'master' }}" alt="{{ settings.header_usp_3_image.alt}}">

                    </div>
                    <span>{{settings.header_usp_3_title}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}