{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="f-logo">
          <img loading="lazy" src="{{"logo1.png" | file_url }}" alt="logo">
        </div>
        <p class="mt-4">
          {{ section.settings.aboutInfo }}
        </p>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h5>{{ section.settings.footertitle1 }}</h5>
        <ul>
          {% render "menulinks" with menu : section.settings.menu %}
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h5>{{ section.settings.footertitle2 }}</h5>
        <ul>
          {% render "menulinks" with menu : section.settings.menu2 %}
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <h5>{{ section.settings.footertitle3 }}</h5>

        {{ section.settings.Addressdesc }}
      </div>
    </div>
    <div class="footer__column footer__column--info">
      {%- if section.settings.payment_enable -%}
        <div class="footer__payment">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="list list-payment" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
    <hr>
    <div class="copyright text-center">
      <b>{{ section.settings.copyrighttext }}</b>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach((item) => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute(
        'aria-expanded',
        (this.elements.button.getAttribute('aria-expanded') === 'false').toString()
      );
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",

  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Quick links",
      "label": "t:sections.footer.blocks.link_list.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "aboutInfo",
      "label": "About info"
    },
    {
      "type": "text",
      "id": "footertitle1",
      "label": "Footer Title 1"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Footer Menu 1"
    },
    {
      "type": "text",
      "id": "footertitle2",
      "label": "Footer Title 2"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Footer Menu 2"
    },
    {
      "type": "text",
      "id": "footertitle3",
      "label": "Footer Title 3"
    },
    {
      "type": "richtext",
      "label": "Address",
      "id": "Addressdesc"
    },
    {
      "type": "richtext",
      "label": "Copyright text",
      "id": "copyrighttext"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ]
}
{% endschema %}
