{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>



<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-6 col-xl-3">
              <div class="f-logo">
                  <img src="{{"logo1.png" | file_url }}" alt="logo">
              </div>
              <p class="mt-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nesciunt tempora quae inventore
                  autem odio cum earum nisi, aliquid dolores?
              </p>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
              <h5>Links</h5>
              <ul>
                {% render "menulinks" with menu : section.settings.menu %}

              </ul>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
              <h5>Terms</h5>
              <ul>
                {% render "menulinks" with menu : section.settings.menu2 %}

              </ul>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
              <h5>Address</h5>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, esse. Similique recusandae omnis
              nobis commodi excepturi doloribus sunt, quas iste!
          </div>
      </div>
      <hr>
      <div class="copyright text-center">
          <b>© 2022. All Rights Reserved.</b>
      </div>
  </div>
</footer>



{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",

  "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Quick links",
        "label": "t:sections.footer.blocks.link_list.settings.heading.label"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "footer",
        "label": "t:sections.footer.blocks.link_list.settings.menu.label",
        "info": "t:sections.footer.blocks.link_list.settings.menu.info"
      },
      {
        "type": "link_list",
        "id": "menu2",
        "default": "footer",
        "label": "t:sections.footer.blocks.link_list.settings.menu.label",
        "info": "t:sections.footer.blocks.link_list.settings.menu.info"
      }
   ]
}
{% endschema %}
