

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">


  <div class="custom-padding {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}" id="product-box" >
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}

    <aside aria-labelledby="verticalTitle" class="facets-wrapper" id="main-collection-filters"
      data-id="template--16973864698157__product-grid">

      {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: true, filter_type: section.settings.filter_type %}
     
    </aside>
    <div class="product-grid-container" >
      <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
        <div class="loading-overlay gradient"></div>
        <section class="product" >
          <div class="container">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-xl-4 mb-5" v-for="product in  products">
                <product-component :added="product.added" :keepcounter="product.keepcounter" :productid="product.id" :show="product.show" :id="product.variants[0].id" :tags="product.tags" :weight="product.variants[0].grams" 
                  :price="product.variants[0].price" :title="product.title" :desc="product.desc"
                  :image="product.images[0].src" :vendor="product.vendor">
                  <product-component />
              </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% render 'product-component' with grams: section.settings.grams %}
{% render 'filter-component' %}

{% render 'bags-container' with minimumorderamount: section.settings.minimumorderamount , minimumorder: section.settings.minimumorder , bottomcartWeight : section.settings.grams, bottomCartPrice : section.settings.price, minimumbagamount: section.settings.minimumbagamount, closebagtext: section.settings.closebag, closebagheading: section.settings.closebagheading, putinbaskettext: section.settings.putinbaskettext, closebaginputplaceholder: section.settings.closebaginputplaceholder, 
orputmoreinbaskettext : section.settings.orputmoreinbaskettext,
fillyourbagstext: section.settings.fillyourbagstext,
conditionbag: section.settings.conditionbag, yourcandybagstext : section.setttings.yourcandybagstext, mixotherbagstext : section.settings.mixotherbagstext,
emptybaskettext : section.settings.emptybaskettext, 
watchbag: section.settings.watchbag, viewedittext: section.settings.viewedittext,
closebagsubheading : section.settings.closebagsubheading,
shoppingbaskettitle: section.settings.shoppingbaskettitle

%}
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "text",
      "id": "putinbagtext",
      "label": "Put in bag/add to cart text"
    },

    {
      "type": "header",
      "content": "Bottom cart"
    },
    {
      "type": "text",
      "id": "grams",
      "label": "Weight text"
    },
    {
      "type": "text",
      "id": "price",
      "label": "Price text"
    },
    {
      "type": "text",
      "id": "minimumbagamount",
      "label": "minimumbag amount(Number)"
    },
    {
      "type": "text",
      "id": "watchbag",
      "label": "watchbag text"
    },
    {
      "type": "text",
      "id": "watchbagtitle",
      "label": "watchbag title"
    },
    {
      "type": "text",
      "id": "closebag",
      "label": "closebag text"
    },
    {
      "type": "text",
      "id": "closebagheading",
      "label": "closebag heading"
    }, 
    {
      "type": "text",
      "id": "closebagsubheading",
      "label": "closebag subheading"
    }, 
    {
      "type": "text",
      "id": "closebaginputplaceholder",
      "label": "closebag input placeholder"
    }, 
    {
      "type": "text",
      "id": "putinbaskettext",
      "label": "put in basket button text"
    },
    {
      "type": "text",
      "id": "shoppingbaskettitle",
      "label": "Shopping basket title"
    },
    
    {
      "type": "text",
      "id": "orputmoreinbaskettext",
      "label": "or put more in basket button text"
    },  
    {
    "type": "text",
    "id" : "emptybaskettext",
    "label" : "empty basket text"
    },
    {
      "type": "text",
      "id": "conditionbag",
      "label": "Conditionbag text"
    },
    {
      "type": "text",
      "id": "minimumorderamount",
      "label": "minimum order amount(Number)"
    },
    {"type" : "text", 
      "id" : "viewedittext",
      "label" : "view edit btn text"
    }
    ,
    {
      "type": "text",
      "id": "minimumorder",
      "label": "minimumorder text"
    },
    {
      "type": "text",
      "id": "yourcandybagstext",
      "label": "yourcandybags text"
    },
    {
      "type": "text",
      "id": "mixotherbagstext",
      "label": "yourcandybags text"
    },
    {
      "type": "text",
      "id": "fillyourbagstext",
      "label": "fill your bags text"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    }
  ]
}
{% endschema %}