

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">


  <div class="custom-padding {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}" id="product-box" >
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}

    <aside aria-labelledby="verticalTitle" class="facets-wrapper" id="main-collection-filters"
      data-id="template--16973864698157__product-grid">

      {% render 'facets', results: collection, enable_filtering: true, enable_sorting: false, filter_type: "vertical" %}
     
    </aside>
    <div class="product-grid-container" >
      <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
        <div class="loading-overlay gradient"></div>
        <section class="product" >
          <div class="container">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-xl-4 mb-5" v-for="product in  products">
                <product-component :added="product.added" :keepcounter="product.keepcounter" :productid="product.id" :show="product.show" :id="product.variants[0].id" :tags="product.tags" :weight="product.variants[0].grams" 
                  :price="product.variants[0].price" :title="product.title" :desc="product.desc"
                  :image="product.images[0].src" :vendor="product.vendor">
                  <product-component />
              </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% render 'product-component' %}
{% render 'filter-component' %}

{% render 'bags-container'%}
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    }
   
  ]
}
{% endschema %}