

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">


  <div class="custom-padding {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}" id="product-box" >
<div class="page-filters">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div  class="facets-wrapper"  >
          <ul class="collection-filters" role="list">
                      <li v-for="filtername in filterNames" class="list-menu__item facets__item active">
                        <filter-component :name="filtername"> </filter-component>
                      </li>
                    </ul>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="product-grid-container" >
      <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
        <div class="loading-overlay gradient"></div>
        <section class="product" >
          <div class="container custom-box">
            <div class="side-section">
              <div class="sidebar-wrap">
                  <div class="sidebar-inner">
                      <div class="inner-content">
                          <div class="bag-title">
                              <h3 class="mb-0">Your Candy Bag</h3>
                          </div>
                          <div class="bag-text">
                            <div v-if="bags.length == 0">
                              <p class="mb-0">
                                  Oops - your bag is empty!
                              </p>
                              <p>
                                  Hurry and put something in it
                              </p>
                              <div class="gif-wrap">
                                  <img src="https://cdn.shopify.com/s/files/1/0671/4471/2493/files/add-cart.gif?v=1671624219" alt="Add cart">
                              </div>
                            </div>
                              <div class="mb-5">
                                <div v-for="product in bags" class="item-container">
                                    <div class="added-product">
                                        <div class="img-wrap">
                                          <img loading="lazy" height="0" width="0"
                                                src="https://cdn.shopify.com/s/files/1/0671/4471/2493/products/choko-3.webp?v=1671103469"
                                                alt="alt">
                                        </div>
                                        <div class="item-name">
                                            <h6>${product.title}</h6>
                                            <h5>Ca ${product.amount} Stk.</h5>
                                        </div>
                                        <div class="candy-info"  @click="product.mtoggle()"  >
                                          <svg class="icon-info" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7.5" cy="7.5" r="6.5" fill="#FFEEB0" stroke="#FBD754" stroke-width="2"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M8 4H7V5H8V4ZM8 6H7V11H8V6Z" fill="black"></path></svg>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                      <div class="qty-btn">
                                        <svg  @click="product.decreaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 448 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm88 200H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z">
                                            </path>
                                        </svg>
                                        <ul>
                                            <li></li>
                                            <li>
                                                <p class="mb-0">For ${product.weight} grams</p>
                                            </li>
                                        </ul>
                                        <svg @click="product.increaseQuantity()" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z">
                                            </path>
                                        </svg>
                                    </div>
                                    </div>
                                </div>  
                          </div>
                          
                        <button  
              data-bs-toggle="modal"
              data-bs-target="#CloseBag" class="close-bag-btn">Luk Posen</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-xl-4 mb-5" v-for="product in  products">
                    <product-component :added="product.added" :keepcounter="product.keepcounter" :productid="product.id" :show="product.show" :id="product.variants[0].id" :tags="product.tags" :weight="product.variants[0].grams" 
                      :price="product.variants[0].price" :title="product.title" :desc="product.desc"
                      :image="product.images[0].src" :vendor="product.vendor">
                      <product-component />
                  </div>
                </div>
              </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% render 'product-component' with grams: section.settings.grams, putinbagtext: section.settings.putinbagtext %}
{% render 'filter-component' %}

{% render 'bags-container' with minimumorderamount: section.settings.minimumorderamount , minimumorder: section.settings.minimumorder , bottomcartWeight : section.settings.grams, bottomCartPrice : section.settings.price, minimumbagamount: section.settings.minimumbagamount, closebagtext: section.settings.closebag, closebagheading: section.settings.closebagheading, putinbaskettext: section.settings.putinbaskettext, closebaginputplaceholder: section.settings.closebaginputplaceholder, 
orputmoreinbaskettext : section.settings.orputmoreinbaskettext,
fillyourbagstext: section.settings.fillyourbagstext,
conditionbag: section.settings.conditionbag, yourcandybagstext : section.setttings.yourcandybagstext, mixotherbagstext : section.settings.mixotherbagstext,
emptybaskettext : section.settings.emptybaskettext, 
watchbag: section.settings.watchbag, viewedittext: section.settings.viewedittext,
closebagsubheading : section.settings.closebagsubheading,
shoppingbaskettitle: section.settings.shoppingbaskettitle
%}
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "text",
      "id": "putinbagtext",
      "label": "Put in bag/add to cart text"
    },

    {
      "type": "header",
      "content": "Bottom cart"
    },
    {
      "type": "text",
      "id": "grams",
      "label": "Weight text"
    },
    {
      "type": "text",
      "id": "price",
      "label": "Price text"
    },
    {
      "type": "text",
      "id": "minimumbagamount",
      "label": "minimumbag amount(Number)"
    },
    {
      "type": "text",
      "id": "watchbag",
      "label": "watchbag text"
    },
    {
      "type": "text",
      "id": "watchbagtitle",
      "label": "watchbag title"
    },
    {
      "type": "text",
      "id": "closebag",
      "label": "closebag text"
    },
    {
      "type": "text",
      "id": "closebagheading",
      "label": "closebag heading"
    }, 
    {
      "type": "text",
      "id": "closebagsubheading",
      "label": "closebag subheading"
    }, 
    {
      "type": "text",
      "id": "closebaginputplaceholder",
      "label": "closebag input placeholder"
    }, 
    {
      "type": "text",
      "id": "putinbaskettext",
      "label": "put in basket button text"
    },
    {
      "type": "text",
      "id": "shoppingbaskettitle",
      "label": "Shopping basket title"
    },
    
    {
      "type": "text",
      "id": "orputmoreinbaskettext",
      "label": "or put more in basket button text"
    },  
    {
    "type": "text",
    "id" : "emptybaskettext",
    "label" : "empty basket text"
    },
    {
      "type": "text",
      "id": "conditionbag",
      "label": "Conditionbag text"
    },
    {
      "type": "text",
      "id": "minimumorderamount",
      "label": "minimum order amount(Number)"
    },
    {"type" : "text", 
      "id" : "viewedittext",
      "label" : "view edit btn text"
    }
    ,
    {
      "type": "text",
      "id": "minimumorder",
      "label": "minimumorder text"
    },
    {
      "type": "text",
      "id": "yourcandybagstext",
      "label": "yourcandybags text"
    },
    {
      "type": "text",
      "id": "mixotherbagstext",
      "label": "yourcandybags text"
    },
    {
      "type": "text",
      "id": "fillyourbagstext",
      "label": "fill your bags text"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    }
  ]
}
{% endschema %}