

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">


  <div class="custom-padding {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}" id="product-box" >
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}

    <aside aria-labelledby="verticalTitle" class="facets-wrapper" id="main-collection-filters"
      data-id="template--16973864698157__product-grid">



      <div class="facets-container">
        <facet-filters-form class="facets small-hide">
          <form id="FacetFiltersForm" class="facets__form-vertical">

            <div id="FacetsWrapperDesktop">
              <div class="active-facets active-facets-desktop">
                <div class="active-facets-vertical-filter">
                  <h2 class="facets__heading facets__heading--vertical caption-large text-body" id="verticalTitle"
                    tabindex="-1">Filter:</h2>
                </div>
              </div>

              <details id="Details-1-template--16973864698157__product-grid"
                class=" facets__disclosure-vertical js-filter" data-index="1" open="">
                <summary class="facets__summary caption-large focus-offset" aria-label="Availability (0 selected)"
                  role="button" aria-expanded="true" aria-controls="Facet-1-template--16973864698157__product-grid">
                  <div>
                    <span>Availability<span class="facets__selected no-js-hidden hidden"> (0)</span></span>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret"
                      viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                        fill="currentColor">
                      </path>
                    </svg>

                  </div>
                </summary>
                <div id="Facet-1-template--16973864698157__product-grid"
                  class="parent-display facets__display-vertical">
                  <fieldset class="facets-wrap parent-wrap  facets-wrap-vertical">
                    <legend class="visually-hidden">Availability</legend>
                    <ul class=" list-unstyled " role="list">
                      <li v-for="filtername in filterNames" class="list-menu__item facets__item">
                        <filter-component :name="filtername"> </filter-component>
                      </li>
                    </ul>
                  </fieldset>
                </div>
              </details>

            </div>
          </form>
        </facet-filters-form>


        <menu-drawer class="mobile-facets__wrapper medium-hide large-up-hide" data-breakpoint="mobile">
          <details class="mobile-facets__disclosure disclosure-has-popup">
            <summary class="mobile-facets__open-wrapper focus-offset">
              <span class="mobile-facets__open">
                <svg class="icon icon-filter" aria-hidden="true" focusable="false" role="presentation"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                  <path fill-rule="evenodd"
                    d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z"
                    fill="currentColor"></path>
                </svg>

                <span class="mobile-facets__open-label button-label medium-hide large-up-hide">Filter and sort
                </span>
                <span class="mobile-facets__open-label button-label small-hide">Filter
                </span>
              </span>
              <span tabindex="0" class="mobile-facets__close mobile-facets__close--no-js"><svg
                  xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"
                  class="icon icon-close" fill="none" viewBox="0 0 18 17">
                  <path
                    d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
                    fill="currentColor">
                  </path>
                </svg>
              </span>
            </summary>
            <facet-filters-form>
              <form id="FacetFiltersFormMobile" class="mobile-facets">
                <div class="mobile-facets__inner gradient">
                  <div class="mobile-facets__header">
                    <div class="mobile-facets__header-inner">
                      <h2 class="mobile-facets__heading medium-hide large-up-hide">Filter and sort
                      </h2>
                      <h2 class="mobile-facets__heading small-hide">Filter
                      </h2>

                    </div>
                  </div>
                  <div class="mobile-facets__main has-submenu gradient">
                    <details id="Details-Mobile-1-template--16973864698157__product-grid"
                      class="mobile-facets__details js-filter" data-index="mobile-1">
                      <summary class="mobile-facets__summary focus-inset" role="button" aria-expanded="false"
                        aria-controls="FacetMobile-1-template--16973864698157__product-grid">
                        <div>
                          <span>Availability</span>
                          <span class="mobile-facets__arrow no-js-hidden"><svg viewBox="0 0 14 10" fill="none"
                              aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                                fill="currentColor">
                              </path>
                            </svg>
                          </span>

                        </div>
                      </summary>
                      <div id="FacetMobile-1-template--16973864698157__product-grid"
                        class="mobile-facets__submenu gradient">
                        <button class="mobile-facets__close-button link link--text focus-inset" aria-expanded="true"
                          type="button">
                          <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation"
                            class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                              fill="currentColor">
                            </path>
                          </svg>

                          Availability
                        </button>
                        <ul class="mobile-facets__list list-unstyled" role="list">
                          <li class="mobile-facets__item list-menu__item">
                            <label for="Filter-filter.v.availability-mobile-1" class="mobile-facets__label">
                              <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability"
                                value="1" id="Filter-filter.v.availability-mobile-1">

                              <span class="mobile-facets__highlight"></span>

                              <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true"
                                focusable="false">
                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                              </svg>

                              <svg class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                  stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>

                              <span aria-hidden="true">In stock (8)</span>
                              <span class="visually-hidden">In stock (8 products)</span>
                            </label>
                          </li>
                          <li class="mobile-facets__item list-menu__item">
                            <label for="Filter-filter.v.availability-mobile-2"
                              class="mobile-facets__label mobile-facets__label--disabled">
                              <input class="mobile-facets__checkbox" type="checkbox" name="filter.v.availability"
                                value="0" id="Filter-filter.v.availability-mobile-2" disabled="">

                              <span class="mobile-facets__highlight"></span>

                              <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true"
                                focusable="false">
                                <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                              </svg>

                              <svg class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor"
                                  stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>

                              <span aria-hidden="true">Out of stock (0)</span>
                              <span class="visually-hidden">Out of stock (0 products)</span>
                            </label>
                          </li>
                        </ul>


                      </div>
                    </details>
                    <div class="mobile-facets__details js-filter" data-index="mobile-">

                    </div>
                  </div>


                </div>
              </form>
            </facet-filters-form>
          </details>
        </menu-drawer>

        <div class="active-facets active-facets-mobile medium-hide large-up-hide">
          <facet-remove class="active-facets__button-wrapper">
            <a href="/collections/candies" class="active-facets__button-remove underlined-link" role="button">
              <span>Remove all</span>
            </a>
          </facet-remove>
        </div>

        <div class="product-count light medium-hide large-up-hide" role="status">
          <h2 class="product-count__text text-body">
            <span id="ProductCount">8 products
            </span>
          </h2>
          <div class="loading-overlay__spinner">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
      </div>

    </aside>
    <div class="product-grid-container" >
      <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
        <div class="loading-overlay gradient"></div>
        <section class="product" >
          <div class="container">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 col-xl-4 mb-5" v-for="product in  products">
                <product-component :show="product.show" :id="product.variants[0].id" :tags="product.tags" :weight="product.variants[0].grams"
                  :price="product.variants[0].price" :title="product.title" :desc="product.desc"
                  :image="product.images[0].src" :vendor="product.vendor">
                  <product-component />
              </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% render 'product-component' %}
{% render 'filter-component' %}

{% render 'bags-container'%}
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}